{% unless GLOBAL_INCLUDED contains "|customhighlight_assets|"%}
  {% assign GLOBAL_INCLUDED = GLOBAL_INCLUDED | append: "|customhighlight_assets|" %}
  <link rel="stylesheet" href="/assets/css/customhighlight.css" />
{% endunless %}

{%- capture customhighlight_id -%}
customhighlight-{%-increment customhighlightCounter -%}
{%- endcapture -%}

{% include collapsible.html 
    for=customhighlight_id
    labelClasses="highlight"
    labelContent=include.caption
    collapsed=include.collapsed
%}
{%- capture content -%}
    {%- if include.content -%}
        {%- if include.noStrip | default : false -%}
            {{ include.content }}
        {%- else -%}
            {{ include.content | strip }}
        {%- endif -%}
    {%- else -%}
        {%- include_relative {{ include.dir | default: page.customhighlight.dir }}/{{include.file}} -%}
    {%- endif -%}
{%- endcapture -%}
 
```{{include.ext | default: (include.file | split: '.' | last | default: "") }}
{{ content }}
```
{: #{{customhighlight_id}}
{% if include.wrap != nil -%}
  {%- if include.wrap -%}
    .wrap-code
  {%- endif -%}
{%- elsif page.wrapCode -%}
  .wrap-code
{%- endif -%}
}

{% comment %}
vim: filetype=liquid
{% endcomment %}
