{% unless CUSTOMHIGHLIGHT_ASSETS_INCLUDED %}
{% capture _ %}{% increment CUSTOMHIGHLIGHT_ASSETS_INCLUDED %}{%endcapture%}
<link rel="stylesheet" href="/assets/css/customhighlight.css" />
{% endunless %}

{%- capture customhighlight_id -%}
customhighlight-{%- increment customhighlight_count -%}
{%- endcapture -%}

{% include collapsible.html 
    for=customhighlight_id
    labelClasses="highlight"
    labelContent=include.caption
    collapsed=include.collapsed
%}
{%- capture content -%}
    {%- if include.content -%}
        {%- if include.noStrip | default : false -%}
            {{ include.content }}
        {%- else -%}
            {{ include.content | strip }}
        {%- endif -%}
    {%- else -%}
        {%- include_relative {{include.dir}}/{{include.file}} -%}
    {%- endif -%}
{%- endcapture -%}
 

```{{include.ext}}
{{ content }}
```
{: #{{customhighlight_id}}
{% if include.wrap != nil -%}
  {%- if include.wrap -%}
    .wrap-code
  {%- endif -%}
{%- elsif page.wrapCode -%}
  .wrap-code
{%- endif -%}
}

{% comment %}
vim: filetype=liquid
{% endcomment %}
