// TODO add other handles


.cf-user {
    font-weight: bold;
    display: inline-block;
    
}

html, html[data-theme="light"] {
    .cf-user {
        &.legendary {
            color: red;
            &::first-letter {
                color: black;
            }
        }
        
        &.grandmaster {
            color: red;
        }
          
        &.admin {
            color: black;
        }
    }
}

html, html[data-theme="dark"] {
    .cf-user {
        &.legendary {
            color: red;
            &::first-letter {
                color: white;
            }
        }
        
        &.grandmaster {
            color: red;
        }
          
        &.admin {
            color: white;
        }
    }
}
