@import "minima/skins/dynamic";
@import "minima/initialize";
@import "minima/skins/mixin-classic";
@import "minima/skins/mixin-dark";

// the trick is described here:
// https://derekkedziora.com/blog/dark-mode

#theme-toggle {
    background: $background-color;
    color: $text-color;
    border: 0;
    font: inherit;
    font-weight: bold;
    span {
        display: inline-block;
        width: $base-font-size;
        height: $base-font-size;
        background-size: cover;
    }
    
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.curtain {
    position: fixed;
    top: 0;
    height: 100vh;
    transition: left ease-in 0.2s, right ease-in 0.2s, background ease 0.3s;
    z-index: 100000;
    &.covering {
        right: 0;
        left: 0;
    }
}

html, html[data-theme="light"], {
    @include classic-skin;
    #theme-toggle span {
        // hand draw
        background-image: url("/assets/icons/moon.png");
    }
    .curtain {
        background: $background-color;
        &:not(.covering) {
            left: 0;
            right: 100vw;
        }
    }
}

html[data-theme="dark"] {
    @include dark-skin;
    #theme-toggle span {
        // https://www.iconsdb.com/white-icons/sun-2-icon.html
        background-image: url("/assets/icons/sun-64.png");
    }
    .curtain {
        background: $background-color;
        &:not(.covering) {
            left: 100vw;
            right: 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}

