---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.collapse-label.highlight {
  display: block;
  background: var(--skin-text-color);
  color: var(--skin-background-color);
  margin-bottom: 0;
  border-radius: 0px;
  display: block;
  font-weight: bold;
  padding-left: 1em;
  border: 1px solid var(--skin-border-color-02);
  > label {
    font-family: $code-font-family;
    display: block;
    margin-bottom: 0;
  }
}

.wrap-code pre {
  white-space: pre-wrap;
}
