---
---
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

$nav-elm-indent: 16px;
$toc-width: 350px;
$toc-padding-horizontal: 10px;
$toc-active-background: gray;
$transition-duration: 0.25s;

@function repeat($character, $n){
    @if ($n == 0) {
        @return "";
    }
    $c:"";
    @for $i from 1 through $n {
        $c: $c + $character;
    }
    @return $c;
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: #{3 * $spacing-unit};
}

#toc-wrapper {
    z-index: 9999;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    left: 0px;
    height: 100%;
    background: $background-color;
    padding: 0px $toc-padding-horizontal;
    width: Min(100vw, $toc-width);
    border-right: 1px solid $border-color-01;
    #toc {
        font-size: $base-font-size;
        padding: 20px 0px;
        width: calc(Min(100vw, $toc-width) - $toc-padding-horizontal);
        overflow-y: auto;
        overflow-x: hidden;
        .nav-elm {
            display: block;
            @for $i from 1 through 6 {
                &.h#{$i}{
                    display: block;
                    position: relative;
                    @if ($i > 1) {
                        margin-left: 1.5em * $i;
                        &::before {
                            position: absolute;
                            left: -1.5em * $i;
                            content: repeat("#", $i - 1) + " ";
                            color: $text-color;
                            font-family: $code-font-family;
                            transition: opacity ease $transition-duration;
                            font-weight: bold;
                            opacity: 0.25;
                        }
                    } @else {
                        font-weight: bold;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                        opacity: 0;
                        transition: opacity ease $transition-duration;
                        background: linear-gradient(to right,
                          #{$toc-active-background} 0,
                          #{$toc-active-background} var(--read-percent),
                          $background-color var(--read-percent),
                          $background-color 100%
                        );
                    }
                }
                &.active {
                    /* font-weight: bold; */
                    &::before {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 0.25;
                    }
                }
            }
        }
    }

}

button#toc-toggler, button#toc-toggler-hider {
    display: none;
}

@media (max-width: 2 * $toc-width + $content-width + $spacing-unit / 2) {
    #toc-wrapper {
        transform: translateX(#{-$toc-width - $spacing-unit});
        transition: transform ease $transition-duration $transition-duration;
    }
    button#toc-toggler, button#toc-toggler-hider {
        z-index: 10001;
        display: inline;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        background: $brand-color;
        color: $background-color;
        border: 1px solid $brand-color-dark;
        position: fixed;
        top: 50%;
        left: 0;
        cursor: pointer;
        opacity: 0.5;
        padding: 0;
        transition: opacity ease #{$transition-duration * 2};
        border-radius: 5px;
    }
    button#toc-toggler-hider {
        z-index: 10000;
        opacity: 0;
    }

    button#toc-toggler {
        &:focus {
            opacity: 0;
            + button#toc-toggler-hider {
                opacity: 0.5;
                z-index: 10002;
            }
            + * + #toc-wrapper {
                display: block;
                overflow: scroll;
                transform: translateX(0);
            }
        }
    }


    $burger-size: 20px;
    $burger-line-width: 5px;
    .burger {
        margin: 0 auto;
        position: absolute;
        top: 0;
        rect {
            fill: $brand-color-dark;
        }
    }

    .cross {
        position: absolute;
        top: 0;
        line {
            stroke: $brand-color-dark;
        }
    }
}

