---
---
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";
@import "minima/skins/mixin-classic";
@import "minima/skins/mixin-dark";
@import "dynamic-skin";
@import "codeforces-handles";


html {
  scroll-behavior: smooth
}

p {
  text-justify: inter-word;
  text-align: justify;
}

html {
  scroll-behavior: smooth
}

p {
  text-justify: inter-word;
  text-align: justify;
}

@function repeat($character, $n){
    $c:"";
    @for $i from 1 through $n {
        $c: $c + $character;
    }
    @return $c;
}

@for $i from 2 through 6 {
    h#{$i} {
        &::before {
            display: inline;
            content: repeat("#", $i - 1) + " ";
            color: $text-color;
            opacity: 0.25;
            font-family: $code-font-family;
        }
    }
}

.home {
    h3::before {
        content: "";
    }
}

header.site-header {
    background: $background-color;
    position: sticky;
    top: 0;
    z-index: 100;
}

.notes {
    // background-color: #e7f3fe99;
    padding-left: $spacing-unit / 2;
    border-left: 4px solid #2196F3;
    &:not(.no-before)::before {
        content: "Notes";
        display: block;
        font-weight: bold;
    }
}

pre.highlight {
    // I just find this value easy to read but also compact enough
    line-height: 1.33;
}
