---
layout: post
---

{%- if page.useMathjax -%}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: [
      "tex2jax.js",
      "MathMenu.js",
      "MathZoom.js",
      "AssistiveMML.js",
      "a11y/accessibility-menu.js",
    ],
    jax: ["input/TeX", "output/CommonHTML"],
    tex2jax: {
      inlineMath: [['$', '$']],
      displayMath: [['$$', '$$']],
    },
    TeX: {
      extensions: [
        "AMSmath.js",
        "AMSsymbols.js",
        "noErrors.js",
        "noUndefined.js",
      ]
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML">
</script>

{%- endif -%}


{%- if page.useToc -%}
  <button id="toc-toggler"> TOC </button>
  <div id="toc-wrapper">
      <nav id="toc"></nav>
  </div>

  <script src="/assets/js/toc.js"></script>
  <script>
    window.addEventListener("load", () => {
      const content = document.querySelector(".post-content");
      const navWrapper = document.querySelector("#toc");
      
      createToc(content, navWrapper);
    });
                                            
  </script>
{%- endif -%}

{% comment %} === Content here === {% endcomment %}
{{ content }}


{%- unless page.disable_utterances -%}
<script src="https://utteranc.es/client.js"
        repo="quangloc99/quangloc99.github.io"
        issue-term="title"
        theme="github-dark-orange"
        crossorigin="anonymous"
        async>
</script>
{%- endunless -%}

